# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.S1-Lab.iml
# Datasource local storage ignored files
/../../../../../../../../:\Development\Projects\Unity\S1-Lab\.idea\.idea.S1-Lab\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
